<ion-header *ngIf="headerActive">
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()"> <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>{{profile.user_firstname}} {{profile.user_lastname}}</ion-title>
	<ion-buttons right>
      <button ion-button icon-only (click)="openSearch()"><ion-icon ios="ios-search" md="md-search"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="profileAndCover" [style.backgroundImage]="getCoverBackgroundStyle()" >
	<input type="file" #coverPhoto style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'cover')" />
    <button ion-button class="editcoverBtn" (click)="uploadCoverPicture()" *ngIf="profile.user_id == myId">
        <ion-icon color="white" name="camera" role="img" class="icon icon-ios ion-ios-camera" aria-label="camera"></ion-icon>
        Edit
    </button>
  </div>
    
  <ion-grid class="profileHeadGrid">
    <ion-row>
      <ion-col col-3 >
	  
        <div class="profileWrap">
          <div class="profileImgArea">
            <img [src]="imageURL+profile.user_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'">            
          </div>
			<input type="file" #profilePhoto style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'profile')" />
			<button ion-fab class="profile-img" (click)="uploadProfilePicture()" *ngIf="profile.user_id == myId">					
				<ion-icon color="white" name="camera" role="img" class="icon icon-ios ion-ios-camera" aria-label="camera"></ion-icon>
			</button>
        </div>
      </ion-col>
      <ion-col col-9 class="profileText">
        <h5>{{profile.user_firstname}} {{profile.user_lastname}}</h5>
        <p *ngIf="profile.user_biography != ''">{{profile.user_biography}}</p>
        <button ion-button clear *ngIf="profile.user_id == myId">Edit</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="editGrid" *ngIf="profile.user_id == myId">
    <ion-row>
      <ion-col col-4 >
        <button ion-button clear block full > 
            <ion-icon ios="ios-create-outline" md="ios-create-outline"></ion-icon>
            Edit Profile 
        </button>
      </ion-col>	  
      <ion-col col-4 >
          <button ion-button clear block full>  
            <ion-icon ios="ios-list-outline" md="ios-list-outline"></ion-icon>
            Activity Log
          </button>
	  </ion-col>
	  <ion-col col-4>
		<button ion-button clear block full> 
			<ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
			More
		</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="editGrid" *ngIf="profile.user_id != myId"> 
    <ion-row>
	  <ion-col col-3>
        <button ion-button clear block full *ngIf="profile.we_friends" (click)="friendsAction()"> 
            <ion-icon ios="ios-person-add" md="md-person"></ion-icon>
            Friends
        </button>
		<button ion-button clear block full *ngIf="profile.he_request" (click)="responseAction()"> 
            <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
            Respond
        </button>
		<button ion-button clear block full *ngIf="profile.i_request" (click)="sentAction()"> 
            <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
            Sent
        </button>
		<button ion-button clear block full *ngIf="!profile.i_request && !profile.he_request && !profile.we_friends" (click)="addAction()"> 
            <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
            Add Friend
        </button>
      </ion-col>	  
      <ion-col col-3>
          <button ion-button clear block full *ngIf="profile.i_follow" (click)="unfollowAction()">  
            <ion-icon ios="ios-list-outline" md="ios-list-outline"></ion-icon>
            Following
          </button>
		  <button ion-button clear block full *ngIf="!profile.i_follow" (click)="followAction()">  
            <ion-icon ios="ios-list-outline" md="ios-list-outline"></ion-icon>
            Follow
          </button>	  
	  </ion-col>  
	  <ion-col col-3>
          <button ion-button clear block full>  
            <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
            Message
          </button>
	  </ion-col>	
	  <ion-col col-3>
		<button ion-button clear block full (click)="moreAction()"> 
			<ion-icon ios="ios-more-outline" md="ios-more-outline"></ion-icon>
			More
		</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="basicInfoGrid">
      <ion-row>
        <ion-col col-12>
            <ion-list>
                <ion-item *ngIf="profile.user_work_place">
                    <ion-icon ios="ios-briefcase-outline" md="ios-briefcase-outline"></ion-icon>
                    {{profile.user_work_title}} at <b>{{profile.user_work_place}}</b>                
                </ion-item>
                <ion-item *ngIf="profile.user_edu_major">
                    <ion-icon ios="ios-school-outline" md="ios-school-outline"></ion-icon>
                    Studied at <b>{{profile.user_edu_major}}</b>            
                </ion-item>
                <ion-item *ngIf="profile.user_edu_school">
                    <ion-icon ios="ios-school-outline" md="ios-school-outline"></ion-icon>
                    Went to <b>{{profile.user_edu_school}}</b>            
                </ion-item>
                <ion-item *ngIf="profile.user_hometown">
                    <ion-icon ios="ios-home-outline" md="ios-home-outline"></ion-icon>
                    Hometown <b>{{profile.user_hometown}}</b>
                </ion-item>
                <ion-item *ngIf="profile.user_current_city">
                    <ion-icon ios="ios-locate-outline" md="ios-locate-outline"></ion-icon>
                    Lives in  <b>{{profile.user_current_city}}</b>
                </ion-item>
                <ion-item *ngIf="profile.user_relationship">
                    <ion-icon ios="ios-heart-outline" md="ios-heart-outline"></ion-icon>
                    <b *ngIf="profile.user_relationship == 'relationship'" > In a Relationship</b>             
                    <b *ngIf="profile.user_relationship == 'complicated'" > It's complicated</b>             
                    <b *ngIf="profile.user_relationship == 'single'" > Single</b>             
                </ion-item>
                <ion-item *ngIf="profile.user_gender">
                    <ion-icon ios="ios-male-outline" md="ios-male-outline"></ion-icon>
                    <b>{{profile.user_gender}}</b>
                </ion-item>
				<ion-item *ngIf="profile.followers_count">
                    <ion-icon ios="logo-rss" md="logo-rss"></ion-icon>
                    Followed by <b>{{profile.followers_count}}</b> people
                </ion-item>
				
              </ion-list>
        </ion-col>
        <button ion-button outline block class="mainEditProfile" *ngIf="profile.user_id == myId">
          <ion-icon ios="ios-create-outline" md="ios-create-outline" ></ion-icon>
          Edit Details </button>
      </ion-row>
  </ion-grid>

  <ion-grid class="editGrid lowHeight">
      <ion-row>
        <ion-col col-4>
          <button ion-button clear block full>               
              About
          </button>
        </ion-col>
        <ion-col col-4>
            <button ion-button clear block full>               
              Photos
            </button>
          </ion-col>
          <ion-col col-4>
              <button ion-button clear block full (click)="listFriends()">                  
                  Friends
              </button>
            </ion-col>
      </ion-row>
  </ion-grid>

    <whats-on-mind></whats-on-mind>  
    <ion-grid class="photosGrid">
        <ion-row>
            <ion-col col-12 class="sectionHead">
                <button ion-fab class="profile-img" (click)="uploadProfilePicture()">								
                    <ion-icon ios="ios-image" md="ios-image"></ion-icon>
                </button>
                <p>Photos</p>
            </ion-col>
            <ion-col col-6>
              <div class="ImgWrapBig" style="background:url(../../assets/followthebirdImgs/big1.png)">                
              </div>
            </ion-col>
            <ion-col col-6>
                <div class="ImgWrapBig" style="background:url(../../assets/followthebirdImgs/big2.png)">                
                </div>
            </ion-col>
            <ion-col col-4>
                <div class="ImgWrapSmall" style="background:url(../../assets/followthebirdImgs/small_img_1.png)">                               
                </div>
              </ion-col>
              <ion-col col-4>
                <div class="ImgWrapSmall" style="background:url(../../assets/followthebirdImgs/small_img_2.png)">                               
                </div>
              </ion-col>
              <ion-col col-4>
                <div class="ImgWrapSmall" style="background:url(../../assets/followthebirdImgs/small_img_3.png)">                               
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
