<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

	<whats-on-mind [handle]="postElement"></whats-on-mind>
	
  <ion-card *ngFor="let feeds of postFeeds">

    <ion-item text-wrap>
      <ion-avatar item-start (click)="viewProfile(feeds.user_name)">
        <img [src]="mediapath+feeds.post_author_picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'" />
      </ion-avatar>
      <span style="font-weight:bold;" (click)="viewProfile(feeds.user_name,feeds.user_id)"> {{feeds.post_author_name}}</span> 
	  <span *ngIf="feeds.feeling_action != ''" >is {{feeds.feeling_action}} {{feeds.feeling_value}}</span>
	  <span>{{post_type[feeds.post_type]}}</span>
      <p>{{feeds.time}}</p>
    </ion-item>
    <img *ngFor="let photo of feeds.photos" [src]="mediapath+photo.source" (click)="viewImage(photo.source)">
	<div *ngIf="feeds.post_type == 'video'">
		<video *ngFor="let vid of feeds.video" style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
			<source [src]="mediapath+vid.source" type="video/mp4"/>
		</video>
	</div>
	<div *ngIf="feeds.post_type == 'audio'">
		<audio controls *ngFor="let aud of feeds.audio">
		  <source [src]="mediapath+aud.source" type="audio/mpeg">
		  Your browser does not support the audio element.
		</audio>
	</div>	
	<div *ngIf="feeds.post_type == 'file'">
		<ion-item *ngFor="let attch of feeds.file" >
		  <ion-thumbnail item-start>
			<img src="assets/followthebirdImgs/text-file-icon.png">
		  </ion-thumbnail>
		  <h2>Attachment.zip</h2>
		  <button ion-button padding (click)="downloadAttachment(attch.source)">
			Download
		  </button>
		</ion-item>
	</div>	
	
    <ion-card-content>
      <p>{{feeds.text}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
            <ion-icon ios="ios-text" md="md-text"></ion-icon>
            Comments
        </button>
      </ion-col>
	  <ion-col>
	  </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-end right>
            Share
			<ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>           
        </button>
      </ion-col>
      
    </ion-row>
  </ion-card>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>