<ion-content>
	<whats-on-mind></whats-on-mind>
	
  <ion-card *ngFor="let feeds of postFeeds">

    <ion-item text-wrap>
      <ion-avatar item-start (click)="viewProfile(feeds.user_name)">
        <img [src]="mediapath+feeds.post_author_picture" />
      </ion-avatar>
      <span style="font-weight:bold;" (click)="viewProfile(feeds.user_name,feeds.user_id)"> {{feeds.post_author_name}}</span> 
	  <span *ngIf="feeds.feeling_action != ''" >is {{feeds.feeling_action}} {{feeds.feeling_value}}</span>
	  <span>{{post_type[feeds.post_type]}}</span>
      <p>{{feeds.time}}</p>
    </ion-item>
    <img *ngFor="let photo of feeds.photos" [src]="mediapath+photo.source" (click)="viewImage(photo.source)">
    <ion-card-content>
      <p>{{feeds.text}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
            <ion-icon ios="ios-text" md="md-text"></ion-icon>
            Comments
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start>
            <ion-icon ios="ios-share" md="md-share"></ion-icon>
            Share
        </button>
      </ion-col>
      
    </ion-row>
  </ion-card>
 <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>