<ion-header>
	<ion-navbar color="primary">
		<ion-buttons left>
		  <button ion-button icon-only (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></button>
		</ion-buttons>
		<ion-searchbar (input)="getItems($event)" ></ion-searchbar>
		<ion-buttons right>
		  <button ion-button icon-only (click)="createConversation()"><ion-icon name="add-circle"></ion-icon></button>
		</ion-buttons>
	</ion-navbar>
	<ion-segment [(ngModel)]="messagezone">
	  <ion-segment-button value="messages">
		MESSAGES 
	  </ion-segment-button>
	  <ion-segment-button value="active">
		ACTIVE
	  </ion-segment-button>
	  <ion-segment-button value="group">
		GROUP
	  </ion-segment-button>	  
  </ion-segment>
</ion-header>


<ion-content>
	<div [ngSwitch]="messagezone">
		<ion-list *ngSwitchCase="'messages'" no-lines>
			<ion-item-divider color="light" *ngIf="messages <= 0" center>
				No Messages
			</ion-item-divider>
			<ion-item *ngFor="let message of messages" class="seen" [ngClass]="{'seen': message.seen == '1', 'unseen': message.seen != '1'}" (click)="viewMessage(message)">
				<ion-avatar item-start text-wrap (click)="viewProfile(message.user_name,message.user_id)">
				  <img [src]="imageURL+message.picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'">
				</ion-avatar>
				<h2  style="font-weight:inherit"> {{message.name}}</h2>
				<p text-wrap >{{message.message}}</p>
				<ion-note item-end *ngIf="isToday(message.time)">{{ message.time | date: 'h:mm a' }}</ion-note>
				<ion-note item-end *ngIf="!isToday(message.time)">{{ message.time | date: 'dd MMM' }}</ion-note>
			</ion-item>
			<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			   <ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</ion-list>
		<ion-list *ngSwitchCase="'active'">
		 hello	
		</ion-list>
		<ion-list *ngSwitchCase="'group'" no-lines>
			<ion-item-divider color="light" *ngIf="groups <= 0">
				No Messages
			</ion-item-divider>
			<ion-item *ngFor="let message of groups" class="seen" [ngClass]="{'seen': message.seen == '1', 'unseen': message.seen != '1'}" (click)="viewMessage(message)">
				<ion-avatar item-start text-wrap (click)="viewProfile(message.user_name,message.user_id)">
				  <img [src]="imageURL+message.picture" onError="this.src='assets/followthebirdImgs/no-profile-img.jpeg'">
				</ion-avatar>
				<h2 style="font-weight:inherit"> {{message.name}}</h2>
				<p text-wrap >{{message.message}}</p>
				<ion-note item-end *ngIf="isToday(message.time)">{{ message.time | date: 'h:mm a' }}</ion-note>
				<ion-note item-end *ngIf="!isToday(message.time)">{{ message.time | date: 'dd MMM' }}</ion-note>
			</ion-item>
			<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
			   <ion-infinite-scroll-content></ion-infinite-scroll-content>
			</ion-infinite-scroll>
		</ion-list>
	</div>
</ion-content>
