<!--
  Generated template for the ViewVaultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title> {{ vault.title }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
	<ion-grid class="photosGrid">
		<ion-row>
			<ion-col *ngFor="let file of files" col-6>		
				<div class="ImgWrapBig" [style.backgroundImage]="getBackgroundStyle(file)" *ngIf="type == 'image'"></div>
				
				<div *ngIf="type == 'mp4'">
					<video style="width:100%" controls preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
						<source [src]="imageURL+file" type="video/mp4"/>
					</video>
				</div>
				
				<div *ngIf="type == 'mp3'">
					<audio controls style="width:100%">
						  <source [src]="imageURL+file" type="audio/mpeg">
						  Your browser does not support the audio element.
					</audio>
				</div>
				
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
