page-signup {
    .toolbar-background{
        background: transparent
    }
    .foot{
        text-align: center;
        h6{
            color:#fff;
            font-size: 13px;
            font-weight: normal;
            a{
                text-decoration: none;
            }
        }
    }
}

