page-whats-on-mind {
    .main_textarea_field{
        border:1px solid #ddd;
    }
    .scroll-content{
        background: #f0f0f1 !important;
        textarea.text-input {
            display: block;
            height: 100px;
            padding: 5px;
            margin: 0;
        }
    }
    .button-md.activity_icons {
        color: #801fbb;
        background-color: transparent;
        box-shadow: none;
    }
}
