<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{eventProfile.event_title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="profileAndCover" [style.backgroundImage]="getCoverBackgroundStyle()" >
	<input type="file" #coverPhoto style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event,'cover')" />
    <button ion-button class="editcoverBtn" (click)="uploadCoverPicture()">
        <ion-icon color="white" name="camera" role="img" class="icon icon-ios ion-ios-camera" aria-label="camera"></ion-icon>
        Edit
    </button>
  </div>
  <ion-grid class="" padding style="padding-bottom: 0px;">
    <ion-row>
      <ion-col col-3 >
        <button ion-button icon-only no-padding clear style="font-size: 20px;">
			<ion-icon name='calendar' style="color:#b5af0b"></ion-icon>
		</button>
		<p color="danger" text-center>{{eventProfile.event_start_date | date: 'MMM dd' }}</p>
      </ion-col>	  
      <ion-col col-9 >
          <ion-title><h2 text-wrap>{{eventProfile.event_title}}</h2></ion-title>
		  <p style="padding-left:5px">{{eventProfile.event_interested}} people are interested</p>
	  </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="editGrid">
    <ion-row>	  
      <ion-col ion-col col-3>
          <button ion-button clear block full> <ion-icon name="checkmark-circle-outline"></ion-icon> Going </button>
	  </ion-col>
	  <ion-col ion-col col-3>
          <button ion-button clear block full > <ion-icon name="star-outline"></ion-icon> Interested </button>
	  </ion-col>
	  <ion-col ion-col col-3>
          <button ion-button clear block full > <ion-icon name="share" ></ion-icon> Share </button>
	  </ion-col>
	  <ion-col ion-col col-3>
          <button ion-button clear block full > <ion-icon name="ios-more"></ion-icon> more </button>
	  </ion-col>
	  
    </ion-row>
  </ion-grid>
  <ion-grid class="basicInfoGrid" padding-left>
      <ion-row>
        <ion-col col-12>
            <ion-list>
				<ion-item *ngIf="eventProfile.event_privacy">
                    <ion-icon ios="ios-globe" md="md-globe"></ion-icon>
                    <strong>{{eventProfile.event_privacy}}</strong> Event      
                </ion-item>
                <ion-item *ngIf="eventProfile.event_going">
                      <ion-icon name="checkmark-circle-outline"></ion-icon>
                    <strong>{{eventProfile.event_going}}</strong> going to this event               
                </ion-item>               
                <ion-item *ngIf="eventProfile.event_going">
                      <ion-icon name="calendar"></ion-icon>
                    <strong>{{eventProfile.event_start_date | date: 'MMMM dd' }}</strong> - <strong>{{eventProfile.event_end_date | date: 'MMMM dd' }}</strong>
                </ion-item>
                <ion-item>
                    <ion-icon name="person"></ion-icon>
                    Hosted By <strong> John Doe</strong>
                </ion-item>
                <ion-item *ngIf="eventProfile.event_location">
                     <ion-icon name="ios-pin-outline"></ion-icon>
                    <strong>{{eventProfile.event_location}} </strong>
                </ion-item>
              </ion-list>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
